<nav class="navbar navbar-light bg-light">
    <span class="navbar-hame">
        <button class="navbar-toggler" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation" onclick="navbar_toggle();">
            <!-- <span class="navbar-toggler-icon"></span> -->
            <i class="fa fa-navicon"></i>
        </button>
    </span>
    <a class="navbar-brand nav-head" href="/">
       <img src="../public/favicon.png" width="40" height="40" class="d-inline-block align-top" alt="logo">
    </a>
    <span class="nav-search">
        <input type="text" class="form-control" placeholder="Search Catofication"/>
    </span>
</nav>
<section class="workspace blbg" id="side-menu" onclick="navbar_toggle();">
    <ul class="nav justify-content-end" id="nav-menu">
        <li class="nav-item">
            <a class="nav-link"><img src="../public/favicon.png" alt="chs" width="25" height="25" style="margin: 1px 40%;"/></a>
        </li>
        <li class="nav-item">
            <a class="nav-link flx" href="/"><div class="icons"><i class="fa fa-desktop"></i></div><div class="nav-text">Main</div></a>
        </li>
    </ul>
</section>